@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #002637;
    transition: background-color 0.3s ease;
}


.containerPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 200px;
    gap: 30px;
    background-color: #0c0c0c;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.75);
}


.RelogioContainer {
    width: 130px;
    height: 100px;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'REM', sans-serif;
    font-size: 30px;
    font-weight: bold;
    -webkit-box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.75);
    user-select: none;
}

.doisPontos {
    font-size: 50px;
    color: white;
    user-select: none;
}



.botãoTema {
    border: none;
    cursor: pointer;
    width: 70px;
    height: 30px;
    background-color: white;
}

.temaBody {
    background-color: #0c0c0c;
    transition: background-color 0.3s ease;
}

.temaPaiContainer {
    background-color: #002637;
}

.temaRelogioContainer {
    background-color: #033c57;
}

media (max-width: 600px) {
    .containerPrincipal {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 300px;
        gap: 60px;
    }
    
    .RelogioContainer {
        
    }
    
    .doisPontos {
        display: none;
    }
}

